# CartPanda
CARTPANDA_TOKEN=3z8gYcPApUEvMBoX
CARTPANDA_SLUG=movvazone

# Google Sheets
GOOGLE_SHEET_ID=1AapMrdHXmjdGjjWhM__oYEPDeECOpH8PpPuMpHyCxr4
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-service-account@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# App
PORT=3001
ADMIN_SECRET=movva2026secret
NODE_ENV=production
